<title>task 49.10 Quản Lý đơn hàng</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<!-- Import Datatable sau jquery -->
<!-- Import them style bootstrap cho datatable -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
<!-- link js -->
<script src="script.js"></script>
<body>
    <div class="container">
        <h2 class="text-center">Danh Sách Đơn Hàng</h2>
        
        <div class="container jumbotron">
            <div class="row form-group">
                <div class="col-md-5 row">
                    <div class="col-md-6 text-center">
                        <label class="form-group mx-2">Loại Pizza</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" id="sel-pizza">
                            <option value="all">All</option>
                            <option value="Seafood">Hải Sản</option>
                            <option value="Hawaii">Hawaii</option>
                            <option value="Bacon">Thịt Hun Khói</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5 row">
                    <div class="col-md-6 text-center">
                        <label class="form-group mx-2">Trạng thái Order</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" id="sel-status">
                            <option value="all">All</option>
                            <option value="open">Open</option>
                            <option value="confirmed">Đã xác nhận</option>
                            <option value="cancel">Đã Hủy</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-success" id="btn-filter">Lọc</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button id="btn-create-order" class="btn btn-success"><i class="fas fa-plus"></i>&nbsp;New Order</button>
        </div>
        <table id="table-order" class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Order Code</th>
                    <th>Kích cỡ combo</th>
                    <th>Loại Pizza</th>
                    <th>Nước uống</th>
                    <th>Thành tiền</th>
                    <th>Họ và tên</th>
                    <th>Số điện thoại</th>
                    <th>Trạng thái</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
    <!-- Modal  create order   -->
    <div id="create-order-modal" class="modal fade text-center" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content" style="width:800px">
                <div class="modal-header">
                    <h5 class="modal-title">CREATE ORDER!!!</h5>
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                </div>
                <!-- Modal Body - chứa form dữ liệu -->
                <div class="modal-body">
                    <!-- form thiết kế như form bình thường -->
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Pizza Size</label>
                        </div>
                        <div class="col-md-10">
                            <select id="select-pizza-size" class="form-control" type="text">
                                <option value="0">Chọn Size Cho Pizza</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Đường kính </label>
                        </div>
                        <div class="col-md-10">
                            <input id="inp-duong-kinh" type="text" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Sườn </label>
                        </div>
                        <div class="col-md-10">
                            <input id="inp-suon" type="text" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Salad </label>
                        </div>
                        <div class="col-md-10">
                            <input id="inp-salad" type="text" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Pizza Type </label>
                        </div>
                        <div class="col-md-10">
                            <select  id="select-pizza-type" class="form-control">
                                <option value="0">Chọn Loại Pizza</option>
                                <option value="Seafood">Hải sản</option>
                                <option value="Hawaii">Hawaii</option>
                                <option value="Bacon">Thịt hun khói</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>ID Voucher </label>
                        </div>
                        <div class="col-md-10">
                            <input id="inp-id-voucher" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Loại đồ uống </label>
                        </div>
                        <div class="col-md-10">
                            <select  id="select-drink" class="form-control" type="select"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Số lượng nước uống </label>
                        </div>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="inp-so-luong-drink" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Họ và Tên </label>
                        </div>
                        <div class="col-md-10">
                            <input id="inp-full-name" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Thành Tiền </label>
                        </div>
                        <div class="col-md-10">
                            <input id="inp-thanh-tien" type="text" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Email </label>
                        </div>
                        <div class="col-md-10">
                            <input id="inp-email" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Số điện thoại </label>
                        </div>
                        <div class="col-md-10">
                            <input id="inp-phone" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Địa Chỉ </label>
                        </div>
                        <div class="col-md-10">
                            <input id="inp-address" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Lời nhắn </label>
                        </div>
                        <div class="col-md-10">
                            <input id="inp-message" type="text" class="form-control">
                        </div>
                    </div>                   
                    <div class="form-group row">
                        <div class="col-sm-6 form-group">
                            <button id="btn-confirm-create" class="btn btn-warning col-sm-12">Tạo Đơn Hàng</button>
                        </div>
                        <div class="col-sm-6 form-group">
                            <button id="btn-cancel-create" class="btn btn-danger col-sm-12">Hủy</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-modal-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Update order -->
    <div id="update-order-modal" class="modal fade text-center" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content" style="width:800px">
                <div class="modal-header">
                    <h5 class="modal-title">UPDATE ORDER</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal Body - chứa form dữ liệu -->
                <div class="modal-body">
                    <!-- form thiết kế như form bình thường -->
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Order Code</label>
                        </div>
                        <div class="col-md-10">
                            <input disabled id="inp-update-order-code" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Pizza Size</label>
                        </div>
                        <div class="col-md-10">
                            <select disabled id="select-update-pizza-size" class="form-control" type="text">
                                <option value="0">Chọn Size Cho Pizza</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Đường kính </label>
                        </div>
                        <div class="col-md-10">
                            <input disabled id="inp-update-duong-kinh" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Sườn </label>
                        </div>
                        <div class="col-md-10">
                            <input disabled id="inp-update-suon" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Salad </label>
                        </div>
                        <div class="col-md-10">
                            <input disabled id="inp-update-salad" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Pizza Type </label>
                        </div>
                        <div class="col-md-10">
                            <select class="form-control" disabled  id="select-update-pizza-type">
                                <option value="0">Chọn Loại Pizza</option>
                                <option value="Seafood">Hải sản</option>
                                <option value="Hawaii">Hawaii</option>
                                <option value="Bacon">Thịt hun khói</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>ID Voucher </label>
                        </div>
                        <div class="col-md-10">
                            <input disabled id="inp-update-id-voucher" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Thành Tiền </label>
                        </div>
                        <div class="col-md-10">
                            <input disabled id="inp-update-thanh-tien" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Giảm giá </label>
                        </div>
                        <div class="col-md-10">
                            <input disabled id="inp-update-giam-gia" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Loại đồ uống </label>
                        </div>
                        <div class="col-md-10">
                            <select disabled  id="select-update-drink" class="form-control" type="select">
                                <option value="0">Chọn loại đồ uống</option>
                                <option value="TRATAC">Trà tắc</option>
                                <option value="FANTA">Fanta</option>
                                <option value="COCA">Cocacola</option>
                                <option value="PEPSI">Pepsi</option>
                                <option value="LAVIE">Lavie</option>
                                <option value="TRASUA">Trà sữa trân châu</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Số lượng nước uống </label>
                        </div>
                        <div class="col-md-10">
                            <input disabled type="text" class="form-control" id="inp-update-so-luong-drink">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Họ và Tên </label>
                        </div>
                        <div class="col-md-10">
                            <input disabled id="inp-update-full-name" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Email </label>
                        </div>
                        <div class="col-md-10">
                            <input disabled id="inp-update-email" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Số điện thoại </label>
                        </div>
                        <div class="col-md-10">
                            <input disabled id="inp-update-phone" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Địa Chỉ </label>
                        </div>
                        <div class="col-md-10">
                            <input disabled id="inp-update-address" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Lời nhắn </label>
                        </div>
                        <div class="col-md-10">
                            <input disabled id="inp-update-message" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Ngày order </label>
                        </div>
                        <div class="col-md-10">
                            <input disabled id="inp-update-order-day" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Ngày chỉnh sửa </label>
                        </div>
                        <div class="col-md-10">
                            <input disabled id="inp-update-repair-day" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>Trạng Thái </label>
                        </div>
                        <div class="col-md-10">
                            <select  class="form-control" id="select-update-status">
                                <option value="open">Open</option>
                                <option value="cancel">Đã Hủy</option>
                                <option value="confirmed">Đã Xác Nhận</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 form-group">
                            <button id="btn-confirm-status" class="btn btn-warning col-sm-12">Thay Đổi Trạng Thái</button>
                        </div>
                        <div class="col-sm-6 form-group">
                            <button id="btn-cancel-status" class="btn btn-danger col-sm-12">Cancel</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-modal-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Delete Order -->
    <div id="delete-order-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">DELETE ORDER </h5>
                </div>
                <div class="modal-body">
                    <p>Bạn có đồng ý xóa order này không ?</p>
                </div>
                <div class="modal-footer">
                    <button id="btn-confirm-delete-order" class="btn btn-warning">Đồng ý</button>
                    <button data-dismiss="modal" class="btn btn-danger">Hủy</button>
                </div>
            </div>
        </div>
    </div>
</body>
